.navbar {
  position: absolute;
  width: 1366px;
  height: 90px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
.logo {
  position: absolute;
  /* visibility: hidden; */
  width: 257px;
  height: 65px;
  left: 98px;
  top: 14px;
}
.com {
  position: absolute;
  width: 27px;
  height: 13px;
  left: 134px;
  top: 44px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.03em;
  color: #0d8bfc;
  transform: rotate(90deg);
}
.globex {
  position: absolute;
  width: 257px;
  height: 65px;
  left: 10px;
  top: 14px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.03em;
  /* Gray 1 */
  color: #333333;
}
.globex::before {
  content: "o";
  position: absolute;
  left: 17.12%;
  right: -10.1%;
  top: 0.21%;
  bottom: 26.97%;
  color: #0d8bfc;
}
.login {
  position: absolute;
  width: 108px;
  height: 40px;
  left: 1158px;
  top: 50px;
  background: #0d8bfc;
}
.login > span {
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 29px;
}

.header__image {
  height: 50px;
  border-radius: 115%;
  object-fit: scale-down;
  width: 50px;
}
.header__imageDiv {
  display: flex;
}
.header__imageDiv > h5 {
  font-size: 15px;
  color: white;
  align-self: center;
  margin: 10px;
}
