.office {
  display: flex;
  flex-direction: row;
  margin-left: 110px;
  margin-top: -50px;
}
.work {
  justify-content: center;
  text-align: center;
  display: flex;
  align-self: center;
  margin-bottom: 30px;
  flex-direction: column;
}

.unable {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  text-align: initial;
  /* Gray 1 */
  color: #333333;
}
.guide {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;

  color: #333333;
  flex: 1;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}
.input__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  /* Gray 2 */

  color: #4f4f4f;
}
.input__group {
  display: flex;
  width: 45%;
  height: 40px;
}
.input__box {
  width: 82%;
  height: 100%;
  outline: none;
}
.input__button {
  width: 141px;
  height: 100%;
  background: #0d8bfc;
  color: #ffffff;
}

/* input.sm-2 {
  flex: 1;
  outline: none;
  border-color: rgb(92, 25, 248);
}
form {
  display: flex;
  width: 60%;
  margin-left: 182px;
  position: absolute;
  bottom: 70px;
}
.word__count {
  display: flex;
  margin-top: 25px;
}
img {
  object-fit: contain;
  height: 350px;
  width: 300px;
}
.h1-text {
  font-size: 4rem;
  padding: 50px;
  font-weight: 700;
} */
